html, body {
    height: 100%;
  }
  

body{
    height: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.containerHeader {
    width: 80%;
    margin: auto; 
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

ul{
    margin: 0;
    padding: 0;
}

.dark {
    padding:15px;
    background: #004c00;
    color: #ffffff;
    margin-top:10px;
    margin-bottom: 10px;
}

/*phone*/

.phone {
    padding: 5px;
    flex-wrap: wrap;
    display: flex; 
    color: #ffffff;
    background-color: #004c00;
    justify-content: space-between; 
    flex-direction: row;
    align-items: center;
    font-size: 1; 
      
}

.phone a:visited {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.phone a:hover{
    color:#000;
    font-weight: bold; 
}

.phone a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.phone img {
    height: 1rem; /* Set it to your liking */
    margin-right: 3px;
    vertical-align: middle
}

/*header*/
header {
    background-color: white; 
    color: green;
    padding-top:10px;
    min-height: 70px;
}

header a{
    color: green;
    text-decoration: none; 
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold
}

header li{
    display: inline; 
    padding: 0 20px 0 20px ; 
}

header #Branding {
    float: left;
}

header img {
    max-height: 150px;
}

header #Branding h1 {
    margin: 0;
}

header nav{
    float: right;
    margin-top: 60px;
}

header .current a{
    color: #000000;
    font-weight: bold; 

}


header a:hover{
    color: #cccccc;
    font-weight: bold; 
}

/*showcase*/

.showcase {
    margin:0 auto;
    width: 100%;
    min-height: 25rem;
    background-color: #fff;
    overflow: hidden;
    position: relative; 
    display: flex; 
}

.showcase .imgban {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0px;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
}

.showcase #imgban3 {
    background-image: url(../img/img3.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.showcase #imgban2 {
    background-image: url(../img/img2.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.showcase #imgban1 {
    background-image: url(../img/img1.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}
/*boxes*/



#boxes {
    margin-top: 20px; 
       
    
}

#boxes .box{
    float: left;
    width: 20%;
    padding: 10px; 
    text-align: center;
    align-self: flex-start;
    justify-content: space-around;
    
    
}

#boxes .box img{
    width: 200px;
    align-items:flex-start;
}

/*sidebar*/
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
  width: 90%; 
  padding: 5px; 
}

/*main-col*/
article#main-col{
    float:left;
    width: 65%;
}

/*services*/
ul#services li{
  padding:20px;
  list-style: none;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

/*footer*/

footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #004c00;
    text-align: center;
}

/* Media Queries */
@media (max-width:768px){
    header #branding, 
    #boxes .box{
    float: none;
    text-align: center;
    width: 100%;
  }

    header{
      padding-bottom: 20px;
    }
    
    #showcase h1 {
      margin-top:40px;
    }
    
}
