body{
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto; 
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.dark {
    padding:15px;
    background: #004c00;
    color: #ffffff;
    margin-top:10px;
    margin-bottom: 10px;
}

/*header*/
header {
    background-color: white; 
    color: green;
    padding-top:10px;
    min-height: 70px;
}

header a{
    color: green;
    text-decoration: none; 
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold
}

header li{
    display: inline; 
    padding: 0 20px 0 20px ; 
}

header #Branding {
    float: left;
}

header img {
    max-height: 150px;
}

header #Branding h1 {
    margin: 0;
}

header nav{
    float: right;
    margin-top: 60px;
}

header .current a{
    color: #000000;
    font-weight: bold; 

}

header a:hover{
    color: #cccccc;
    font-weight: bold; 
}

/*showcase*/

#showcase {
    min-height: 400px;
    background: url('../img/capa1.jpg') no-repeat 0 -400px;
    text-align: center;
           
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px; 
    color: #ffffff;
}

#showcase p {
    font-size: 20px; 
    color: #ffffff;

}


#showcase img {
    opacity: 0.1;
}

/*boxes*/

#boxes {
    margin-top: 20px; 
       
    
}

#boxes .box{
    float: left;
    width: 20%;
    padding: 10px; 
    text-align: center;
    align-self: center;
    justify-content: space-around;
    
    
}

#boxes .box img{
    width: 200px;
}

/*sidebar*/
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
  width: 90%; 
  padding: 5px; 
}

/*main-col*/
article#main-col{
    float:left;
    width: 65%;
}

/*services*/
ul#services li{
  padding:20px;
  list-style: none;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

/*footer*/

footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #004c00;
    text-align: center;
}

/* Media Queries */
@media (max-width:768px){
    header #branding, 
    #boxes .box{
    float: none;
    text-align: center;
    width: 100%;
  }

    header{
      padding-bottom: 20px;
    }
    
    #showcase h1 {
      margin-top:40px;
    }
    
}
